/* general page layout */
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

div.contents td.contentsarea {
    border: 0 none;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #666666;
    text-align: center;
    padding: 0 10px;
}

.contents a:link,
.contents a:visited  {
    color: #666666;
    text-decoration: none;
    font-size: 11px;
}

.contents a:hover,
.contents a:active {
    color: #333333;
    text-decoration: underline;
    font-size: 11px;
}

body {
    padding: 0;
    margin: 0;
    border: 0 none;
    overflow: hidden;
}

/* specific properties setters */
.assign_font {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
}

.align_center {
    text-align: center;
}

.align_right {
    text-align: right;
}

/* layout element styles */

#ae_contents {
    position: absolute;
    padding: 57px 0 22px 0;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
}

#ae_contents a:link,
#ae_contents a:visited  {
    color: #006666;
    text-decoration: none;
}

#ae_contents a:hover,
#ae_contents a:active {
    color: #e33e3e;
    text-decoration: underline;
}

#ae_contents img {
    border: 0 none;
}

#ae_ebi_header_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 57px;
    overflow: visible;
    border: 0 none;
    margin: 0;
    padding: 0;
    background-color: rgb(32, 122, 122);    
}

#ae_centered_container_900px {
    text-align: left;
    margin: 0 auto;
    width: 900px;
}

#ae_centered_container_100pc {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-width: 1000px;
    height: 100%;
    text-align: left;
    margin: 0;
    font-size: 11px;
}

#ae_ebi_footer_container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 22px;
    padding-left: 15px;
    background-color: #dedede;
    overflow: hidden;
}

/* ae intro area */
#ae_intro_area {
    margin: 10px 0 0 0;    
}

#ae_header {
    font-size: 21px;
    font-weight: bold;
}

#ae_logo {
    float: right;
    margin: 0 0 5px 5px;
}

#ae_intro_text p {
    font-size: 11px;
    margin: 5px 0 1px 0;
    text-align: justify;
}

.ae_intro_more_toggle {
    font-weight: bold;
}

/* ae query area */
#ae_query_area {
    position: relative;
    margin: 10px 0 10px 0;
    height: 216px;
}

#ae_query_area .box_inner {
    height: 200px;
}

#ae_query_area .ae_left_box form {
    margin: 35px 0 10px 0;

}

#ae_query_area .ae_right_box form {
    margin: 10px 0 10px 0;
}

#ae_query_area input,
#ae_query_area select {
    margin-top: 3px;
    margin-bottom: 8px;
    padding-top: 1px;
    padding-bottom: 2px;
}

#ae_query_area label {
    width: 420px;
    padding: 5px 0 0 0;
}


#aer_query_field {
    width: 421px;
    border: 1px solid #B8CFD8;
    font-size: 11px;
}

#aew_query_field,
#aew_experiments_field {
    width: 421px;
    border: 1px solid #B8CFD8;
    font-size: 11px;
}

#aew_species_field {
    width: 421px;
    border: 1px solid #B8CFD8;
    font-size: 11px;
}

#aer_adv_query_link {
    margin: 20px 0 0 0;
}

#aer_query_submit,
#aew_query_submit {
    float: right;
    font-size: 11px;
}

#aer_feed_link {
    float: right;
}

#aer_feed_link img {
    border: 0 none;
    margin: 2px 0 0 0;
}

/* ae news links area */
#ae_news_links_area {
    position: relative;
    margin: 0;
    height: 176px;
}

#ae_news_links_area .box_inner {
    height: 160px;
}

/* common two box layout classes */
.ae_left_box {
    position: absolute;
    left: 0;
    top: 0;
    width: 445px;
}

.ae_right_box {
    position: absolute;
    right: 0;
    top: 0;
    width: 445px;
}

.ae_box_title {
    font-size: 17px;
    font-weight: bold;
}

/* ae warn/error area */

.ae_warn_area,
.ae_error_area {
    background-color: #ffffff;
    background-repeat:  no-repeat;
    background-position: 10px 50%;
    text-align: left;
    color: #e00b00;
    font-size: 11px;
    font-weight: bold;
    padding: 25px 15px 25px 80px;
    margin: 0 0 10px 0;
    border-top: 2px solid #ff614d;
    border-bottom: 2px solid #ff614d;
    }

.ae_warn_area {
    background-image: url(../images/ae_warn.gif);
}
.ae_error_area {
    background-image: url(../images/ae_stop.gif);
    }

#ae_browse_area {
    position: absolute;
    padding: 95px 5px 5px 5px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

/* ae keywords filters area */
#ae_keywords_filters_area {
    position: relative;
    top: -95px;
    left: 0;
    width: 100%;
    height: 95px;
    overflow: hidden;
    padding: 5px 0 5px 0;
}

#ae_keywords_filters_box {
    position: relative;
    width: 100%;
    height: 100%;
}

#ae_keywords_filters_box label {
    white-space: nowrap;
}

#ae_logo_browse {
    float: right;
    padding: 5px 10px;
}

#ae_beta_notice {
    color: #004488;
    font-style: italic;
    position: absolute;
    left: 0;
    top: 68px;
    margin: 0;
    padding: 0 0 0 10px;
    border: 0 none;
}

#ae_keywords_box {
    position: absolute;
    left: 0;
    top: 0;
    width: 40%;
    height: 100%;
    margin: 0;
    padding: 5px 5px 5px 10px;
    border: 0 none;
}

#ae_filters_box {
    position: absolute;
    left: 40%;
    top: 0;
    width: 35%;
    height: 100%;
    margin: 0;
    padding: 5px 5px 5px 5px;
    border: 0 none;
}

#ae_options_box {
    position: absolute;
    left: 75%;
    top: 0;
    width: 25%;
    height: 100%;
    margin: 0;
    padding: 5px 10px 5px 5px;
    border: 0 none;
}

#ae_keywords {
    margin: 3px 0 5px 0;
    width: 100%;
    border: 1px solid #99bbe8;
    font-size: 11px;
}

#ae_species {
    margin: 3px 0 5px 0;
    width: 100%;
    font-size: 11px;
}

#ae_array {
    margin: 0;
    width: 100%;
    font-size: 11px;
}

#ae_pagesize {
    margin: 0;
    font-size: 11px;
}

.select_margin {
    margin: 3px 0 5px 0;
}

#ae_keyword_filters_submit {
    float: right;
    font-size: 11px;
}
/* ae resutls area */
#ae_results_area {
    position: relative;
    padding: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    top: -95px;
}

#ae_results_area th,
#ae_results_area td {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    font-size: 11px;
}

#ae_results_summary_info {
    display: none;
}

#ae_results_table {
    position: absolute;
    padding: 22px 0 22px 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#ae_results_hdr {
    position: absolute;
    top: 0;
    left: 0;
    overflow: hidden;
}

#ae_results_hdr_filler {
	position: absolute;
	top: 0;
	right: -1px;
	width: 100%;
	height: 22px;
}

#ae_results_hdr_inner table {
    table-layout: fixed;
    width: 100%;
}

#ae_results_body {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#ae_results_body_inner {
    width: 100%;
    height: 100%;
    overflow: auto; /* for opera prior to 9.5 */
    overflow-y: scroll;
    overflow-x: hidden;
}

.ae_results_table_loading {
    background: url(../images/ae_loading.gif) 50% 50% no-repeat;

}

#ae_results_body table {
    table-layout: fixed;
    width: 100%;
    border-spacing: 0;
    padding: 0;
    overflow: hidden;
}

#ae_results_ftr {
    position: relative;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 22px;
    overflow: hidden;
}

#ae_results_body th {
    font-size: 1px;
    height: 0;
}

.ae_results_more {
    width: 20px;
}
.ae_results_accession {
    width: 100px;
}

.ae_results_name {
}

.ae_results_assays {
    width: 57px;
}

.ae_results_species {
    width: 150px;
}

.ae_results_releasedate {
    width: 80px;
}

.ae_results_fgem {
    width: 76px;
}

.ae_results_raw {
    width: 42px;
}

.tr_main_active {
    background-color: #ebf3fd;
    cursor: pointer;
}

.ae_results_tr_main td {
    border-bottom: 1px solid #ebf3fd;
}

.ae_results_tr_error td {
    background: url(../images/ae_warn.gif) 50% 50% no-repeat;
    text-align: center;
    color: black;
    font-size: 11px;
    padding: 130px 0 0 0;
    margin: 0 0 10px 0;
}

.tr_main_expanded {
    background-color: #ebf3fd;
}

.tr_main_expanded td {
/*
    border-bottom: 0 none;
*/
}

.ae_results_tr_main td div {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    padding: 1px 2px 1px 3px;
    margin: 0 1px 0 1px;
}

.ae_results_tr_ext {
}

.ae_results_tr_ext td {
    background: url(../images/table_ext_row_bg.gif) 0 0 repeat;
    border-bottom: 1px solid #99bbe8;
    padding: 5px 5px 10px 5px; 
}

.ae_results_tr_ext dl {
    width: 100%;
    margin: 0.5em 0;
    padding: 0;
    }

.ae_results_tr_ext dt {
    width: 20%;
    float: left;
    margin: 0;
    padding: .2em;
    font-weight: bold;
    }

.ae_results_tr_ext dd {
    float: left;
    width: 80%;
    margin: 0;
    padding: .2em;
    }

.ae_results_tr_ext .attrs {
    padding-top: 0;
}

.ae_results_tr_ext .attrs dl {
    margin: 0;
}

.ae_results_tr_ext .attrs dt {
    font-weight: normal;
    }

.ae_results_tr_ext .attrs dd {
    }

.ae_results_tr_ext .attrs .title {
    font-weight: bold;
}

.ae_results_tr_ext p {
    margin: 0 0 4px 0;
    text-align: left;
}

.ae_text_highlight {
    background-color: yellow;
}

#ae_results_status {
    float: right;
   /* width: 40%; */
}

#ae_results_pager {
    float: left;
   /* width: 50%; */
}
/* bb-style box */

.box_top {
    background: url(../images/bb_border_top.gif) 0 0 repeat-x;
}

.box_bottom {
    background: url(../images/bb_border_bottom.gif) 0 100% repeat-x;
}

.box_left {
    background: url(../images/bb_border_left.gif) 0 0 repeat-y;
}

.box_right {
    background: url(../images/bb_border_right.gif) 100% 0 repeat-y;
}

.box_bottom_left {
    background: url(../images/bb_corner_bottom_left.gif) 0 100% no-repeat;
}

.box_bottom_right {
    background: url(../images/bb_corner_bottom_right.gif) 100% 100% no-repeat;
}

.box_top_left {
    background: url(../images/bb_corner_top_left.gif) 0 0 no-repeat;
}

.box_top_right {
    background: url(../images/bb_corner_top_right.gif) 100% 0 no-repeat;
    padding: 8px 0;
}

.box_inner {
    margin: 0 10px;
    padding: 0;
}

/* ext-form style box */
.form_100pc {
    width: 100%;
    height: 100%;
}

.form_outer {
    background-color: #dfe8f6;
}

.form_top {
    background: url(../images/form_border_top.gif) 0 0 repeat-x;
}

.form_bottom {
    background: url(../images/form_border_bottom.gif) 0 100% repeat-x;
}

.form_left {
    background: url(../images/form_border_left.gif) 0 0 repeat-y;
}

.form_right {
    background: url(../images/form_border_right.gif) 100% 0 repeat-y;
}

.form_bottom_left {
    background: url(../images/form_corner_bottom_left.gif) 0 100% no-repeat;
}

.form_bottom_right {
    background: url(../images/form_corner_bottom_right.gif) 100% 100% no-repeat;
}

.form_top_left {
    background: url(../images/form_corner_top_left.gif) 0 0 no-repeat;
}

.form_top_right {
    background: url(../images/form_corner_top_right.gif) 100% 0 no-repeat;
}

.form_inner {
    padding: 1px;
}
/* ext-table style box */

.table_box_top {
    background: url(../images/table_border_top.gif) 0 0 repeat-x;
}

.table_box_bottom {
    background: url(../images/table_border_bottom.gif) 0 100% repeat-x;
}

.table_box_left {
    background: url(../images/table_border_left.gif) 0 0 repeat-y;
}

.table_box_right {
    background: url(../images/table_border_right.gif) 100% 0 repeat-y;
}

.table_box_bottom_left {
    background: url(../images/table_corner_bottom_left.gif) 0 100% no-repeat;
}

.table_box_bottom_right {
    background: url(../images/table_corner_bottom_right.gif) 100% 100% no-repeat;
}

.table_box_top_left {
    background: url(../images/table_corner_top_left.gif) 0 0 no-repeat;
}

.table_box_top_right {
    background: url(../images/table_corner_top_right.gif) 100% 0 no-repeat;
}

.table_box_top
, .table_box_bottom
, .table_box_left
, .table_box_right
, .table_box_bottom_left
, .table_box_bottom_right
, .table_box_top_left
, .table_box_top_right {
    width: 100%;
    height: 100%;
}

.table_padding_box {
    position: absolute;
    padding: 6px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.table_inner_box {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
    border: 1px solid #99bbe8;
}

th {
    font-weight: normal;
}

.table_header_filler {
    background: url(../images/table_header_bg_filler.gif) 0 0 repeat-x;
    height: 22px;
}

.table_header_box {
    background: url(../images/table_header_bg.gif) 0 0 repeat-x;
    height: 22px;
}

th.sortable:hover,
th.sortable:active {
    background: url(../images/table_header_bg_active.gif) 0 0 repeat-x;
    height: 22px;
}

.table_header_box_selected {
    background: url(../images/table_header_bg_selected.gif) 0 0 repeat-x;
    height: 22px;
}

.table_header_box_fake {
    height: 1px;
}

.table_header_border_left {
    background: url(../images/table_header_border_left.gif) 0 0 no-repeat;
    height: 22px;
}

th.sortable:hover div.table_header_border_left,
th.sortable:active div.table_header_border_left {
    background: url(../images/table_header_border_left_active.gif) 0 0 no-repeat;
}

.table_header_box_selected .table_header_border_left {
    background: url(../images/table_header_border_left_selected.gif) 0 0 no-repeat;
}

.table_header_border_right {
    background: url(../images/table_header_border_right.gif) 100% 0 no-repeat;
    height: 22px;
}

th.sortable:hover .table_header_border_right,
th.sortable:active .table_header_border_right {
    background: url(../images/table_header_border_right_active.gif) 100% 0 no-repeat;
    height: 22px;
}

.table_header_box_selected .table_header_border_right {
    background: url(../images/table_header_border_right_selected.gif) 100% 0 no-repeat;
    height: 22px;
}

.table_header_inner {
    height: 22px;
    padding: 4px 0 0 4px;
    text-align: left;
}

a:hover .table_header_label,
a:active .table_header_label {
    color: #e33e3e;
    text-decoration: underline;
}

.table_header_sort_asc {
    background: url(../images/table_header_sort_asc.gif) 100% 50% no-repeat;
}

.table_header_sort_desc {
    background: url(../images/table_header_sort_desc.gif) 100% 50% no-repeat;
}

.table_footer_box {
    background: url(../images/table_footer_bg_filler.gif) 0 0 repeat-x;
    height: 22px;
}

.table_footer_left {
    background: url(../images/table_footer_border_left.gif) 0 0 no-repeat;
    height: 100%;
}

.table_footer_right {
    height: 100%;
}

.table_footer_inner {
    height: 100%;
    padding: 4px 4px 0 4px;
    text-align: left;
}

.table_row_expand {
    background: url(../images/table_row_expand.gif) 50% 50% no-repeat;
    height: 100%;
}

.tr_main_expanded .table_row_expand {
    background: url(../images/table_row_collapse.gif) 50% 50% no-repeat;
}

.ie_clear {
    font-size: 1px;
    height: 1px;
}