/* general page layout */
* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}

div.contents td.contentsarea {
    border: 0 none;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #666666;
    text-align: center;
    padding: 0 10px;
}

.contents a:link,
.contents a:visited  {
    color: #666666;
    text-decoration: none;
    font-size: 11px;
}

.contents a:hover,
.contents a:active {
    color: #333333;
    text-decoration: underline;
    font-size: 11px;
}
body {
    padding: 0;
    margin: 0;
    border: 0 none;
    overflow: hidden;
}

#ae_contents {
    position: absolute;
    padding: 57px 0 22px 0;
    width: 100%;
    height: 100%;
    text-align: center;
    overflow: hidden;
}

#ae_ebi_header_container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 57px;
    overflow: visible;
    border: 0 none;
    margin: 0;
    padding: 0;
    z-index: 1;
    background-color: rgb(32, 122, 122);    
}

#ae_centered_container_900px {
    text-align: left;
    margin: 0 auto;
    width: 900px;
}

#ae_centered_container_100pc {
    position: relative;
    overflow: hidden;
    width: 100%;
    min-width: 900px;
    height: 100%;
    text-align: left;
    margin: 0;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 11px;
    color: #666666;
}

#ae_ebi_footer_container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 22px;
    overflow: hidden;
}

/* ae intro area */
#ae_intro_area {
    margin: 10px 0 0 0;    
}

#ae_header {
    font-size: 21px;
    font-weight: bold;
}

#ae_logo {
    float: right;
    margin: 0 0 5px 5px;
}

#ae_intro_text p {
    font-size: 11px;
    margin: 5px 0 1px 0;
    text-align: justify;
}

.ae_intro_more_toggle {
    font-weight: bold;
}

/* ae query area */
#ae_query_area {
    position: relative;
    margin: 10px 0 10px 0;
    height: 216px;
}

#ae_query_area .box_inner {
    height: 200px;
}

#ae_query_area .ae_left_box form {
    margin: 35px 0 10px 0;

}

#ae_query_area .ae_right_box form {
    margin: 10px 0 10px 0;
}

#ae_query_area input,
#ae_query_area select {
    margin-top: 3px;
    margin-bottom: 8px;
    padding-top: 1px;
    padding-bottom: 2px;
}

#ae_query_area label {
    width: 420px;
    padding: 5px 0 0 0;
}


#aer_query_field {
    width: 421px;
    border: 1px solid #B8CFD8;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 11px;
}

#aew_query_field,
#aew_experiments_field {
    width: 421px;
    border: 1px solid #B8CFD8;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 11px;
}

#aew_species_field {
    width: 421px;
    border: 1px solid #B8CFD8;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 11px;
}

#aer_adv_query_link {
    margin: 20px 0 0 0;
}

#aer_query_submit,
#aew_query_submit {
    float: right;
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 11px;
}

#aer_feed_link {
    float: right;
}

#aer_feed_link img {
    border: 0 none;
    margin: 2px 0 0 0;
}

/* ae news links area */
#ae_news_links_area {
    position: relative;
    margin: 0;
    height: 176px;
}

#ae_news_links_area .box_inner {
    height: 160px;
}

/* common two box layout classes */
.ae_left_box {
    position: absolute;
    left: 0;
    top: 0;
    width: 445px;
}

.ae_right_box {
    position: absolute;
    right: 0;
    top: 0;
    width: 445px;
}

.ae_box_title {
    font-size: 17px;
    font-weight: bold;
}

/* ae warn/error area */

.ae_warn_area,
.ae_error_area {
    background-color: #ffffff;
    background-repeat:  no-repeat;
    background-position: 10px 50%;
    text-align: left;
    color: #e00b00;
    font-size: 11px;
    font-weight: bold;
    padding: 25px 15px 25px 80px;
    margin: 0 0 10px 0;
    border-top: 2px solid #ff614d;
    border-bottom: 2px solid #ff614d;
    }

.ae_warn_area {
    background-image: url(../images/ae_warn.gif);
}
.ae_error_area {
    background-image: url(../images/ae_stop.gif);
    }

/* ae filters area */
.ae_filters_area {
    margin-bottom: 40px;
}

.ae_filters_area input,
.ae_filters_area select {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 11px;
/*
    margin-top: 3px;
    margin-bottom: 8px;
    padding-top: 1px;
    padding-bottom: 2px;
*/
}

#ae_params {
    text-align: center;
}

#ae_filters {
    width: 600px;
}

#ae_params_logo {
    width: 300px;
    float: right;
    position: relative;
}

#ae_keyword_filter {
    width: 598px;
    border: 1px solid #B8CFD8;
    padding-top: 1px;
    padding-bottom: 2px;    
}

#ae_additional_filters div {
    margin: 2px 0 0 0;
}

#ae_additional_filters label {
    margin: 2px 0 0 0;
    padding: 4px 4px;
    text-align: left;
}

#ae_additional_filters select.ae_filter {
    width: 350px;
}

#ae_add_filter div {
    float: right;
}

/* ae resutls area */
#ae_results_area {
}

#ae_results_area th,
#ae_results_area td {
    font-family: Verdana, Geneva, Arial, Helvetica, sans-serif;
    font-size: 11px;
}

#ae_results_summary_info {
    display: none;
}

#ae_results_table {
    position: absolute;
    padding: 22px 0 22px 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#ae_results_table_hdr {
    position: absolute;
    top: 0;
    left: 0;
    right: 15px;
    /* width: 100%; */
    height: 22px;
    overflow: hidden;
}

#ae_results_table_hdr_inner {
}

#ae_results_table_hdr table {
    table-layout: fixed;
    width: 100%;
    border-spacing: 0;
    padding: 0;
}

#ae_results_table_body {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#ae_results_table_body_inner {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    overflow-y: scroll;
}

#ae_results_table_body table {
    table-layout: fixed;
    width: 100%;
    border-spacing: 0;
    padding: 0;
    overflow: hidden;
}

#ae_results_table_ftr {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 22px;
    overflow: hidden;
}

#ae_results_body th {
    font-size: 1px;
    height: 0;
}

.ae_results_accession {
    width: 100px;
}

.ae_results_name {
}

.ae_results_hybs {
    width: 70px;
}

.ae_results_species {
    width: 150px;
}

.ae_results_releasedate {
    width: 80px;
}

.ae_results_fgem {
    width: 80px;
}

.ae_results_raw {
    width: 80px;
}

.ae_results_more {
    width: 45px;
}

.ae_results_td_center {
    text-align: center;
}

.ae_results_td_right {
    text-align: right;
}

.ae_results_cell {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.ae_text_highlight {
    background-color: yellow;
}

/* bb-style boxes */

.box_top {
    background: url(../images/bb_border_top.gif) 0 0 repeat-x;
}
.box_bottom {
    background: url(../images/bb_border_bottom.gif) 0 100% repeat-x;
}
.box_left {
    background: url(../images/bb_border_left.gif) 0 0 repeat-y;
}
.box_right {
    background: url(../images/bb_border_right.gif) 100% 0 repeat-y;
}
.box_bottom_left {
    background: url(../images/bb_corner_bottom_left.gif) 0 100% no-repeat;
}
.box_bottom_right {
    background: url(../images/bb_corner_bottom_right.gif) 100% 100% no-repeat;
}
.box_top_left {
    background: url(../images/bb_corner_top_left.gif) 0 0 no-repeat;
}
.box_top_right {
    background: url(../images/bb_corner_top_right.gif) 100% 0 no-repeat;
    padding: 8px 0;
}
.box_inner {
    margin: 0 10px;
    padding: 0;
}

.ie_clear {
    font-size: 1px;
    height: 1px;
}